* {
    box-sizing: border-box;
}

div{
    border: 1px solid black;
    padding: 5px;
}

/**
 *
 */
@media (max-width: 500px) {
.heading {
    display: none;
}

.content {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-box {
    width: 50%;
}
}

/**
 *
 */
@media (min-width: 500px) and (max-width: 800px) {
.heading {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-box {
    width: 25%;
}

.content {
    display: flex;
    flex-direction: row;
}

.side {
    display: flex;
    flex-direction: column;
}

.special-side-box {

}

.main {
    display: flex;
    flex-direction: column;
}

.main-box {
    height: 100%;
}
}

/**
 *
 */
@media (min-width: 800px) {
.heading {
    display: flex;
    flex-direction: row;
}

.heading-box {
}

.navigation {
    display: flex;
    flex-direction: row;
}

.nav-box {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: row;
}

.side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    text-align: center;
}

.side-box {
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.main-box {
    flex-grow: 1;
}
}